<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/static/errorStyle.css" rel="stylesheet"/>
    <title>Error</title>
</head>

<body style="text-align: center; font-family: sans-serif">
<hr>
<h1>
{{message}}
</h1>
<img src="/pictures/error.png" width="500" height="500">
<hr>

<hr>

<div id="footer">
    Copyright &copy; 2021 Voldemar
</div>
</body>
</html>